<h1>SliderInImage</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="containWrapper">
				<%= image_tag('tools/framework.png', class:"containImage") %>
				<div class="innerContainer">
				
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="wrapper">
				<img src="http://2016.mydanielsun.com/amicoapp/wp-content/uploads/2016/02/Front-iPhone-278x555.png" class="containImage">

			</div>
		</div>
	</div>
</div>

